@charset "UTF-8"; 


/* flex-container */

.list-admin-main{
  width: 100%;
}

.categoryplus{
  width: 100%;
}

.tablebox-admin{
  width: 100%;
}
.addCategory-show-btn{
  font-size: 14px;
  width: 100px;
  height: 30px;
  background-color: #63A0C2;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.1s;
  margin: 16px 0;
}
.addCategory-show-btn:hover{
  background-color: #7299BE;
}
.input{
  width: 60%;
  height: 23px;
  border: 0.8px solid #333;
  border-radius: 5px;
  padding-left: 6px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
}
.input-id{
  width: 15%;
}
.save-btn{
  width: 70px;
  height: 28px;
  background-color: #efefef;
  font-size: 12px;
  color: #676767;
  border-radius: 5px;
  transition: 0.1s;
}
.save-btn:hover{
  background-color: #d9d8d8;
  color: #333;
}