html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.detail {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
  font-weight: bold;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  height: 80%;
  width: 100%;
}

.detail-header {
  width: 100%;
  position: relative;
}

.detail-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.detail-img {
  height: 50vw;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detail-img>img:first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.detail-top {
  display: flex;
}

.detail-category {
  font-size: 0.3em;
  padding: 3px 8px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 5px;
}

.detail-category[value="1"] {
  background-color: #f5cd81;
  color: #ffffff;
}

.detail-category[value="2"] {
  background-color: #08b8b8;
  color: #ffffff;
}

.detail-category[value="3"] {
  background-color: #f2b8b8;
  color: #ffffff;
}

.detail-heading-title {
  font-size: 1em;
  margin-top: 10px;
}

.detail-price {
  font-size: 0.9em;
  font-weight: 900;
  margin: 8px 0 13px 0;
  color: #5d5d5d;
}

.detail-status {
  font-size: 0.3em;
  color: rgb(138, 138, 139);
  background-color: rgb(235, 236, 237);
  text-align: center;
  padding: 3px 8px;
  box-sizing: border-box;
  border-radius: 5px;
}

.detail-status.expired {
  background-color: #19191982;
  color: #ffffff;
}

.detail-status.day-left {
  background-color: #b8ccff82;
  color: #56a4ff;
}

.detail-status.hour-left {
  background-color: #faeef0;
  color: #ff687b;
}

.detail-heart {
  font-size: 0.5em;
  color: rgb(138, 138, 139);
}

.detail-info {
  font-weight: 400;
  font-size: 0.85em;

  /* border: 1px solid; */
  border-radius: 8px;

  /* width: 320px; */

  padding: 12px 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 8%);

  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.detail-in {
  display: flex;
  align-items: center;
}

.detail-info-title {
  color: #888a89;
  font-weight: 500;
  margin-right: 10px;

  /* flex: 0 0 auto; */

  white-space: nowrap;
}

.detail-info-txt {
  font-size: 0.89em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}
.detail-info-txt-a {
  font-size: 0.89em;
  max-width: 410px;

  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;


}
.detail-writing {
  /* height: 180px; */
  height: auto;
  /* width: 320px; */
  margin-top: 13px;
  margin-bottom: 150px;
}

.detail-paragraph {
  height: 100%;
  overflow: hidden;
  padding: 12px 12px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.9em;
  word-break: break-all;
}

.detail-join {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 12%) 0px -6px 6px -6px;
  padding: 13px 20px 22px 20px;
  box-sizing: border-box;
  z-index: 5;
  height: 110px;
}

.detail-join-title {
  font-size: 0.8em;
}

.detail-join-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.detail-join-button-wrap {
  display: flex;
  justify-content: flex-end;
  width: 62px;
  height: 73px;
}

.join-button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail-join-button {
  align-self: center;
  width: 62px;
  height: 28px;
  border-radius: 7px;
  font-size: 13px;
  white-space: nowrap;
  background-color: #63a0c2;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
}

.detail-join-button:hover {
  background-color: #517a92;
  transition: 0.5s;
}

.detail-join-end-button {
  align-self: center;
  width: 62px;
  height: 28px;
  border-radius: 7px;
  font-size: 13px;
  white-space: nowrap;
  background-color: #d8d8d8;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
}

.detail-join-end-button:hover {
  background-color: #8a8d8f;
  transition: 0.5s;
}

.detail-cancel-button {
  width: 62px;
  height: 28px;
  border-radius: 7px;
  font-size: 13px;
  white-space: nowrap;
  background-color: #f20e0e;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
}

.detail-cancel-button:hover {
  background-color: #ac3607;
  transition: 0.5s;
}

.detail-chat-button {
  width: 62px;
  height: 28px;
  line-height: 28px;
  border-radius: 7px;
  font-size: 13px;
  white-space: nowrap;
  background-color: #63a0c2;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.detail-chat-button:hover {
  background-color: #517a92;
  transition: 0.5s;
}

/* 수정/삭제 모달 */

.white-bg {
  width: 100%;
  height: 40%;
  margin: auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

.close-button {
  border: none;
  background: #6667ab;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.close-button:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.5s;
}

.detail-edit {
  justify-content: space-between;
  margin-top: 12px;
}

.ed-text {
  font-size: 0.82em;
  margin-left: 5px;
  color: #979595;
  cursor: pointer;
}

/* 수정 삭제 모달 */
.icon-edit {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9966 18.3333C10.6933 18.3333 10.4346 18.2253 10.2207 18.0093C10.0068 17.7932 9.8999 17.5335 9.8999 17.2301C9.8999 16.9267 10.0079 16.6681 10.224 16.4542C10.44 16.2403 10.6998 16.1333 11.0032 16.1333C11.3065 16.1333 11.5652 16.2414 11.7791 16.4574C11.993 16.6735 12.0999 16.9332 12.0999 17.2366C12.0999 17.54 11.9919 17.7986 11.7758 18.0125C11.5598 18.2264 11.3 18.3333 10.9966 18.3333ZM10.9966 12.1C10.6933 12.1 10.4346 11.992 10.2207 11.7759C10.0068 11.5599 9.8999 11.3002 9.8999 10.9968C9.8999 10.6934 10.0079 10.4347 10.224 10.2208C10.44 10.0069 10.6998 9.90001 11.0032 9.90001C11.3065 9.90001 11.5652 10.008 11.7791 10.2241C11.993 10.4401 12.0999 10.6999 12.0999 11.0033C12.0999 11.3066 11.9919 11.5653 11.7758 11.7792C11.5598 11.9931 11.3 12.1 10.9966 12.1ZM10.9966 5.86667C10.6933 5.86667 10.4346 5.75864 10.2207 5.54258C10.0068 5.32654 9.8999 5.06682 9.8999 4.76342C9.8999 4.46003 10.0079 4.20139 10.224 3.98751C10.44 3.77362 10.6998 3.66667 11.0032 3.66667C11.3065 3.66667 11.5652 3.7747 11.7791 3.99076C11.993 4.2068 12.0999 4.46652 12.0999 4.76993C12.0999 5.07331 11.9919 5.33195 11.7758 5.54584C11.5598 5.75973 11.3 5.86667 10.9966 5.86667Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;

  top: 18px;
  right: 19px;
  width: 24px;
  height: 24px;
  z-index: 10;
  cursor: pointer;
}

.icon-edit2 {
  position: absolute;

  top: 45px;
  right: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 100px;
  height: 76px;
  background: #FFFFFF;
  border-radius: 5px;

  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  box-shadow: 0 25px 40px -20px #3c4a56;
  z-index: 9;
}

.icon-report {
  position: absolute;
  align-items: center;

  top: 45px;
  right: 24px;

  display: flex;
  padding: 0px;

  width: 100px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 5px;
  border: #dbdbdb solid 1px;

  font-size: 12px;

  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  box-shadow: 0 25px 40px -20px #3c4a56;
  z-index: 9;

  cursor: pointer;
}

.icon-report .icon {
  background-position: center center;
  width: 16px;
  height: 38px;
  margin: auto 6px auto 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.85039 9.19479C5.96414 9.19479 6.06367 9.1474 6.14898 9.0526C6.2343 8.95781 6.27695 8.84722 6.27695 8.72083C6.27695 8.59444 6.2343 8.48385 6.14898 8.38906C6.06367 8.29427 5.96414 8.24688 5.85039 8.24688C5.73664 8.24688 5.63711 8.29427 5.5518 8.38906C5.46648 8.48385 5.42383 8.59444 5.42383 8.72083C5.42383 8.84722 5.46648 8.95781 5.5518 9.0526C5.63711 9.1474 5.73664 9.19479 5.85039 9.19479ZM5.48477 7.24479H6.21602V3.68333H5.48477V7.24479ZM4.02227 11.375L1.46289 8.53125V4.46875L4.02227 1.625H7.67852L10.2379 4.46875V8.53125L7.67852 11.375H4.02227ZM4.32695 10.5625H7.37383L9.50664 8.19271V4.80729L7.37383 2.4375H4.32695L2.19414 4.80729V8.19271L4.32695 10.5625Z' fill='%23F11F1F'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

.icon-edit2 .box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: #dbdbdb solid 1px;
}

/* 수정 */
.icon-edit3 {
  display: flex;
  width: 100px;
  height: 38px;
  font-size: 12px;
  line-height: 38px;
  color: #000000;
  cursor: pointer;
  border-bottom: #dbdbdb solid 1px;
}

.icon-edit3 .icon {
  width: 13px;
  height: 38px;
  margin: auto 12px auto 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6472 1.29843L10.9394 1.58421C11.1663 1.80623 11.1663 2.16523 10.9394 2.38488L10.2368 3.07455L9.1238 1.98573L9.82637 1.29843C10.0533 1.07642 10.4203 1.07642 10.6448 1.29843H10.6472ZM5.06529 5.95837L8.30534 2.7864L9.41835 3.87522L6.17589 7.04483C6.10587 7.11332 6.01895 7.16292 5.92479 7.1889L4.5124 7.58333L4.9156 6.20164C4.94216 6.10953 4.99286 6.0245 5.06287 5.95601L5.06529 5.95837ZM9.00791 0.497761L4.24441 5.15534C4.03437 5.36082 3.88226 5.61354 3.80259 5.88988L3.11209 8.25173C3.05414 8.45013 3.10967 8.6627 3.25936 8.80913C3.40905 8.95557 3.62634 9.00989 3.82915 8.95321L6.24349 8.27772C6.52838 8.19741 6.78672 8.04862 6.99435 7.8455L11.7578 3.18791C12.4363 2.52423 12.4363 1.44723 11.7578 0.783546L11.4657 0.497761C10.7873 -0.16592 9.68634 -0.16592 9.00791 0.497761ZM2.12462 1.41889C0.951251 1.41889 0 2.34946 0 3.49732V9.92157C0 11.0694 0.951251 12 2.12462 12H8.69163C9.865 12 10.8163 11.0694 10.8163 9.92157V7.27629C10.8163 6.96216 10.5579 6.70944 10.2368 6.70944C9.9157 6.70944 9.65737 6.96216 9.65737 7.27629V9.92157C9.65737 10.4435 9.2252 10.8663 8.69163 10.8663H2.12462C1.59105 10.8663 1.15888 10.4435 1.15888 9.92157V3.49732C1.15888 2.97535 1.59105 2.55258 2.12462 2.55258H4.82868C5.14979 2.55258 5.40813 2.29986 5.40813 1.98573C5.40813 1.6716 5.14979 1.41889 4.82868 1.41889H2.12462Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

/* 삭제 */
.icon-edit4 {
  display: flex;
  width: 100px;
  height: 38px;
  font-size: 12px;
  line-height: 38px;
  color: #F11F1F;
  cursor: pointer;
}

.icon-edit4 .icon {
  width: 12px;
  height: 38px;
  margin: auto 12px auto 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4401 1.31454L3.94531 2.03804H7.72135L7.22656 1.31454C7.1875 1.25849 7.1224 1.22283 7.05208 1.22283H4.61198C4.54167 1.22283 4.47656 1.25594 4.4375 1.31454H4.4401ZM8.26823 0.636888L9.22396 2.03804H9.58333H10.8333H11.0417C11.388 2.03804 11.6667 2.31063 11.6667 2.64946C11.6667 2.98828 11.388 3.26087 11.0417 3.26087H10.8333V11.0054C10.8333 12.1315 9.90104 13.0435 8.75 13.0435H2.91667C1.76563 13.0435 0.833333 12.1315 0.833333 11.0054V3.26087H0.625C0.278646 3.26087 0 2.98828 0 2.64946C0 2.31063 0.278646 2.03804 0.625 2.03804H0.833333H2.08333H2.44271L3.39844 0.634341C3.66927 0.23947 4.125 0 4.61198 0H7.05208C7.53906 0 7.99479 0.23947 8.26563 0.634341L8.26823 0.636888ZM2.08333 3.26087V11.0054C2.08333 11.4564 2.45573 11.8207 2.91667 11.8207H8.75C9.21094 11.8207 9.58333 11.4564 9.58333 11.0054V3.26087H2.08333ZM4.16667 4.8913V10.1902C4.16667 10.4144 3.97917 10.5978 3.75 10.5978C3.52083 10.5978 3.33333 10.4144 3.33333 10.1902V4.8913C3.33333 4.66712 3.52083 4.48369 3.75 4.48369C3.97917 4.48369 4.16667 4.66712 4.16667 4.8913ZM6.25 4.8913V10.1902C6.25 10.4144 6.0625 10.5978 5.83333 10.5978C5.60417 10.5978 5.41667 10.4144 5.41667 10.1902V4.8913C5.41667 4.66712 5.60417 4.48369 5.83333 4.48369C6.0625 4.48369 6.25 4.66712 6.25 4.8913ZM8.33333 4.8913V10.1902C8.33333 10.4144 8.14583 10.5978 7.91667 10.5978C7.6875 10.5978 7.5 10.4144 7.5 10.1902V4.8913C7.5 4.66712 7.6875 4.48369 7.91667 4.48369C8.14583 4.48369 8.33333 4.66712 8.33333 4.8913Z' fill='%23F11F1F'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes dissappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.black-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.delete-box {
  width: 253px;
  height: 113px;
  background: #ffffff;
  border-radius: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-box-1 {
  width: 135px;
  height: 12px;
  background: #ffffff;
  border-radius: 5px;
  color: #000000;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  margin-top: 28px;
}

.delete-box-2 {
  width: 180px;
  height: 26px;
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.delete-box-3 {
  width: 65px;
  height: 26px;
  background: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #e01616;
  color: #e01616;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}

.delete-box-4 {
  width: 65px;
  height: 26px;
  background: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #6a6a6a;
  color: #6a6a6a;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  line-height: 26px;
  margin-left: 25px;
  cursor: pointer;
}

.report-box {
  width: 253px;
  height: 250px;
  background: #ffffff;
  border-radius: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.report-box>textarea {
  width: 200px;
  height: 120px;
  border: #517a92 solid 1px;
}

.noImg {
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  background-image: url(/images/member/stuff/noimg.svg);
  background-size: cover;
  background-position: center center;
}

#map {
  transition: height ease-out 0.5s 0s;
  width: 300px;
  height: 0;
  margin: 10px auto 0;
  display: block;
  border-radius: 10px;
}

.canvas.map {
  text-align: center;
  margin: 10px auto auto;
}

.map-content {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  background: rgba(114, 153, 190, 1);
  border-radius: 0.4em;
}

.map-content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(114, 153, 190, 1);
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.map-content-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.map-content-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 1;
}