@charset "UTF-8";

/* ----------- reg1 ----------- */

.reg1-main-content {
  margin-top: 109px;
  text-align: center;
}

/* ----------- reg1 카테고리 박스 선택 ----------- */
.category-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-box-list {
  margin-top: 80px;
}
.input-address{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.categ-eff {
  background-color: #f0f2f3;
}

/* .categ-eff:active{
    background-color: #F0F2F3;
} */

.m-t-button {
  margin-top: 114px;
}

/* ----------- reg2 ----------- */

.reg2-post {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 18px;

  border: none;
  background-color: #fff;
  color: #63a0c2;

  font-size: 12px;
  font-weight: 700;
}

.file-box {
  margin-top: 35px;
}
/* 파일 업로드시, 이미지 미리보기 */
.uploaded-files {
  display: block;
  width: 100%;
  height: 100%;
}
.uploaded-crawlingimg {
  display: block;
  width: 180px;
  height: 180px;
  margin-left: 22%;
}

.select-content {
  height: 300px;
}

.input-content {
  width: 80%;
  height: 70%;
  margin-top: 1%;
  border: none;
  overflow: auto;
  margin: auto;
}
.people-count-box {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.people-count-num {
  width: 30px;
  text-align: center;
}

/* datetime-local 조절용 */
input[type="datetime-local"]::before {
  /* content: attr(data-placeholder); */
  width: 90%;
  text-align: right;
  margin-right: 15px;
}
input[type="datetime-local"]:focus::before,
input[type="datetime-local"]:valid::before {
  display: none;
}
.date-pic {
  display: inline-block;
  margin-right: 10px;
  width: 70%;
}

#map {
  transition: height ease-out 0.5s 0s;
  width: 300px;
  height: 0;
  margin-top: 10px;
  display: block;
}

.toggle-map {
  text-align: center;
}
