@charset "UTF-8"; 

.btn-default{
    width: 150px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    border: none;

    text-align: center;
    cursor: pointer;
}

.btn-next{ 
    width: 150px;
    height: 40px;
    
    border: none;
    border-radius: 10px;
    
    background-color: #000;
    color: #fff;

    text-align: center;
    cursor: pointer;
}

/* -------- reg2 파일 업로드 버튼 ------- - */
.btn-file{
    border: none;
    border-radius: 10px;    
    width: 43px;
    height: 40px;

    background-color: #F6F6F6;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M25.5 29.1h3v-6.6h6.6v-3h-6.6v-6.6h-3v6.6h-6.6v3h6.6ZM13 38q-1.2 0-2.1-.9-.9-.9-.9-2.1V7q0-1.2.9-2.1.9-.9 2.1-.9h28q1.2 0 2.1.9.9.9.9 2.1v28q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h28V7H13v28Zm-6 9q-1.2 0-2.1-.9Q4 42.2 4 41V10h3v31h31v3Zm6-37v28V7Z'/%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

.btn-uploaded-files{
    border: none;
    border-radius: 10px;    
    width: 43px;
    height: 40px;
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm1-2h12l-3.75-5-3 4L9 13Zm-1 2V5v14Z'/%3E%3C/svg%3E");
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
}

.btn-edit{
    border: none;
    width: 20px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M479.858 896Q460 896 446 881.858q-14-14.141-14-34Q432 828 446.142 814q14.141-14 34-14Q500 800 514 814.142q14 14.141 14 34Q528 868 513.858 882q-14.141 14-34 14Zm0-272Q460 624 446 609.858q-14-14.141-14-34Q432 556 446.142 542q14.141-14 34-14Q500 528 514 542.142q14 14.141 14 34Q528 596 513.858 610q-14.141 14-34 14Zm0-272Q460 352 446 337.858q-14-14.141-14-34Q432 284 446.142 270q14.141-14 34-14Q500 256 514 270.142q14 14.141 14 34Q528 324 513.858 338q-14.141 14-34 14Z'/%3E%3C/svg%3E");
    /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='32' viewBox='0 0 6 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.993 32C2.33106 32 1.76676 31.7643 1.3001 31.2929C0.833431 30.8215 0.600098 30.2549 0.600098 29.5929C0.600098 28.931 0.835798 28.3667 1.3072 27.9C1.77856 27.4333 2.34523 27.2 3.0072 27.2C3.66913 27.2 4.23343 27.4357 4.7001 27.9071C5.16676 28.3785 5.4001 28.9451 5.4001 29.6071C5.4001 30.269 5.1644 30.8333 4.693 31.3C4.22163 31.7667 3.65496 32 2.993 32ZM2.993 18.4C2.33106 18.4 1.76676 18.1643 1.3001 17.6929C0.833431 17.2215 0.600098 16.6549 0.600098 15.9929C0.600098 15.331 0.835798 14.7667 1.3072 14.3C1.77856 13.8333 2.34523 13.6 3.0072 13.6C3.66913 13.6 4.23343 13.8357 4.7001 14.3071C5.16676 14.7785 5.4001 15.3451 5.4001 16.0071C5.4001 16.669 5.1644 17.2333 4.693 17.7C4.22163 18.1667 3.65496 18.4 2.993 18.4ZM2.993 4.8C2.33106 4.8 1.76676 4.5643 1.3001 4.0929C0.833431 3.62153 0.600098 3.05487 0.600098 2.3929C0.600098 1.73097 0.835798 1.16667 1.3072 0.7C1.77856 0.233333 2.34523 0 3.0072 0C3.66913 0 4.23343 0.2357 4.7001 0.7071C5.16676 1.17847 5.4001 1.74513 5.4001 2.4071C5.4001 3.06903 5.1644 3.63333 4.693 4.1C4.22163 4.56667 3.65496 4.8 2.993 4.8Z' fill='white'/%3E%3C/svg%3E%0A"); */
    background-position: center;
    display: inline-block;
    color: white;
}
/* === detail ====================== */
.btn-enter{
    margin: auto;
    top:auto;
    left: auto;
    width: 100%;

    font-size: 18px;
    font-weight: bold;

    /* PointColor --------------- */
    /* background-color: rgb(0, 152, 116); */   /*초록*/
    background-color: #FFCA4B;            /*감자*/
    /* background-color: rgb(136, 176, 75); */  /*연두*/
    /* background-color: #9b1b30; */            /*빨강*/
}
/* ======================================== */




 /* ======================================== */

/* 충렬 */
/* start */
.btn-1{
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
    color: #000;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
/* login */
.btn-2{
    width: 236px;
    height: 35px;
    background: #222222;
    border-radius: 7px;
    margin-top: 13px;

    font-weight: 700;
    font-size: 14px;
    line-height: 13.86px;
    border: none;
    color: #F1F2F2;
}
/* sign-up */
.btn-3{
    width: 124px;
    height: 40px;
    display: inline-block;
    /* margin-left: 100px; */
    background: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 4px 4px rgba(0, 0, 0, 0.03); */
    border-radius: 10px;
    /* border: none; */
    border: solid 1px #253232;
    cursor: pointer;
}
.btn-4{
    width: 270px;
    height: 40px;
    display: inline-block;
    /* margin-left: 100px; */
    background: #222;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 4px 4px rgba(0, 0, 0, 0.03); */
    border-radius: 10px;
    border: none;
    color : #fff;
    /* border: solid 1px #253232; */
    cursor: pointer;
    font-weight: bold;
}


    /* .btn-email{
        display: inline-block;
        margin-top: 5px;
        margin-left: 235px;
    } */

.btn-post{
    position: relative;
    top: -2%;
    right: -3%;
    width: 40px;
    height: 25px;
    border: solid 1px #253232;
    border-radius: 5px;
    background-color: #FFFFFF;
  
    font-size: 10px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

.btn-auth{
    position: relative;
    top: -2%;
    right: -3%;
    width: 40px;
    height: 25px;
    border: solid 1px #253232;
    border-radius: 5px;
    background-color: #FFFFFF;
  
    font-size: 10px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  /* 3월9일 추가분 */
  .btn-plus{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    background: none;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z'/%3E%3C/svg%3E");    
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

  }
  .btn-minus{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    background: none;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M10 25.5v-3h28v3Z'/%3E%3C/svg%3E");    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .btn-modal{
    width: 25px;
    height: 25px;
    background-color: #FFCA4B;
  }

  /* signup  유효성 검사 아이콘 */
  .btn-check{
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6475 0.350826C12.1177 0.816093 12.1177 1.57653 11.6475 2.0468L5.24881 8.45046C4.78354 8.92073 4.0231 8.92073 3.55283 8.45046L0.351001 5.24863C-0.119268 4.78336 -0.114265 4.02293 0.351001 3.55266C0.816267 3.08239 1.5767 3.08239 2.04697 3.55266L4.39832 5.90401L9.9515 0.350826C10.4168 -0.119443 11.1772 -0.11444 11.6475 0.350826Z' fill='%233BA739'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6475 0.350826C12.1177 0.816093 12.1177 1.57653 11.6475 2.0468L5.24881 8.45046C4.78354 8.92073 4.0231 8.92073 3.55283 8.45046L0.351001 5.24863C-0.119268 4.78336 -0.114265 4.02293 0.351001 3.55266C0.816267 3.08239 1.5767 3.08239 2.04697 3.55266L4.39832 5.90401L9.9515 0.350826C10.4168 -0.119443 11.1772 -0.11444 11.6475 0.350826Z' fill='%233BA739'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6475 0.350826C12.1177 0.816093 12.1177 1.57653 11.6475 2.0468L5.24881 8.45046C4.78354 8.92073 4.0231 8.92073 3.55283 8.45046L0.351001 5.24863C-0.119268 4.78336 -0.114265 4.02293 0.351001 3.55266C0.816267 3.08239 1.5767 3.08239 2.04697 3.55266L4.39832 5.90401L9.9515 0.350826C10.4168 -0.119443 11.1772 -0.11444 11.6475 0.350826Z' fill='%233BA739'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6475 0.350826C12.1177 0.816093 12.1177 1.57653 11.6475 2.0468L5.24881 8.45046C4.78354 8.92073 4.0231 8.92073 3.55283 8.45046L0.351001 5.24863C-0.119268 4.78336 -0.114265 4.02293 0.351001 3.55266C0.816267 3.08239 1.5767 3.08239 2.04697 3.55266L4.39832 5.90401L9.9515 0.350826C10.4168 -0.119443 11.1772 -0.11444 11.6475 0.350826Z' fill='%2380C954'/%3E%3C/svg%3E%0A");    width: 14.66px;
    width: 12px;
    height: 8.8px;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .btn-x{
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.360716 2.09522C-0.120239 1.61939 -0.120239 0.841672 0.360716 0.360716C0.836555 -0.120239 1.61427 -0.120239 2.09522 0.360716L4.5 2.76549L6.90478 0.360716C7.38062 -0.120239 8.15833 -0.115122 8.63929 0.360716C9.12024 0.836555 9.12024 1.61427 8.63929 2.09522L6.23451 4.5L8.63929 6.90478C9.12024 7.38062 9.11512 8.15833 8.63929 8.63929C8.16345 9.12024 7.38573 9.12024 6.90478 8.63929L4.5 6.23451L2.09522 8.63929C1.61939 9.12024 0.841672 9.11512 0.360716 8.63929C-0.120239 8.16345 -0.120239 7.38573 0.360716 6.90478L2.76549 4.5L0.360716 2.09522Z' fill='%23E4674B'/%3E%3C/svg%3E%0A");    width: 14.66px;
    width: 9px;
    height: 9px;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .btn-null{
    width: 9px;
    height: 9px;
    top: 7px;
    right: -45px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  /*  */

  /* .signup-text::after {
    content: '\e5cc';
    font-family: 'Material Icons';


    margin-right: 1px;
    font-size: 1rem;

    position: relative;
    top: 3px;
    color: #7a7a7a;
} */