<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modeul.web.repository.CategoryRepository">

  <select id="findAll" resultType="Category">
  	select *
  	from category
  </select>
  
  <select id="findById" resultType="Category">
  	select *
  	from category
  	where id=#{categoryId}
  </select>

  <insert id="insert" parameterType="Category">
    insert into category(id,name)
    values(#{id},#{name})
  </insert>

  <update id="update" parameterType="Category">
    update category
		set name = #{name}
		where id = #{id}
  </update>

  <delete id="delete" parameterType="Category">
    delete from
    category 
    where id = ${id}
  </delete>
</mapper>