<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modeul.web.repository.CrawlingRepository">
	<resultMap id="crawlingResultMap" type="Crawling">
		<result property="categoryId" column="category_id" />
	</resultMap>

	<select id="findbyId" resultMap="crawlingResultMap">
		select *
		from crawling
		where id = #{id}
	</select>

	<select id="findAll" resultMap="crawlingResultMap">
		select *
		from crawling
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="query != null">
				title like '%${query}%'
			</if>
			<if test="categoryId != null">
				and category_id = #{categoryId}
			</if>
		</trim>
		<if test="size != null and offset != null">
			limit ${size} offset ${offset}
		</if>
	</select>

	<select id="getCountList" resultType="Long">
		select count(id)
		from
		crawling
		<if test="categoryId != null">
			where category_id = #{categoryId}
		</if>
	</select>

	<select id="findCategory" resultMap="crawlingResultMap">
		SELECT DISTINCT categoryname , category_id
		FROM crawling
	</select>
	
</mapper>