<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modeul.web.repository.MemberRepository">
<!-- mySQL에서 문자열은 ''로 묶여야 한다. 그래서 #{}으로 묶인다. -->
  <insert id="insert" parameterType="Member">
    insert into member(uid,pwd,name,email,nickname)
    values(#{uid},#{pwd},#{name},#{email},#{nickname})
  </insert>
  
   <select id="getbyUid" resultType="String">
	  select uid
	  from
	  member
	  where
	  uid = #{uid}
  </select>
  
  <select id="getByEmail" resultType="String">
	  select email
	  from
	  member
	  where
	  email = #{email}
  </select>
  
  <select id="getByNickname" resultType="String">
	  select nickname
	  from
	  member
	  where
	  nickname = #{nickname}
  </select>
</mapper>