<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modeul.web.repository.MessageRepository">

  <resultMap id="ChatResultMap" type="Chat">
    <result property="stuffId" column="stuff_id" />
    <result property="chatLog" column="chat_log" />
  </resultMap>

  <insert id="insert" parameterType="Chat">
    insert into chat(stuff_id, chat_log)
    values(#{stuffId}, #{chatLog})
  </insert>

  <!-- <select id="findChatLogBystuffId" resultMap="ChatResultMap">
    select * 
    from chat
    where stuff_id = #{stuffId}
  </select> -->

	<select id="findChatLogBystuffId" resultType="String">
    select chat_log
    from chat
    where stuff_id = #{stuffId}
  </select>

	<update id="update" parameterType="Chat">
		update chat set chat_log = #{chatLog}
		where stuff_id = #{stuffId}
	</update>

	<delete id="delete">
		delete from chat
		where stuff_id = #{stuffId}
	</delete>
	
</mapper>