<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modeul.web.repository.ReportStuffRepository">

	<resultMap id="reportResultMap" type="ReportStuff">
		<result property="id" column="id" />
		<result property="regDate" column="reg_date" />
		<result property="stuffId" column="stuff_id" />
		<result property="memberId" column="member_id" />
		<result property="detail" column="detail" />
	</resultMap>
	
	<resultMap id="reportResultViewMap" type="ReportStuffView">
		<result property="id" column="id" />
		<result property="regDate" column="reg_date" />
		<result property="stuffId" column="stuff_id" />
		<result property="memberId" column="member_id" />
		<result property="nickname" column="nickname" />
		<result property="detail" column="detail" />
	</resultMap>


	<select id="findAll" resultMap="reportResultViewMap">
		select *
		from report_stuff_view
	</select>


	<insert id="insert" parameterType="ReportStuff">
		insert into report_stuff(stuff_id, member_id, detail ) values
		(#{stuffId},#{memberId}, #{detail})
	</insert>

	<delete id="delete" parameterType="Integer">
		delete from report_stuff
		where id = #{id}
	</delete>

</mapper>