@charset "UTF-8";

.header-categ-box {
  padding-bottom: 13px;
}

/* 서치박스 */

.d-fl-al {
  justify-content: center;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  top: -3px;
  border-radius: 10px;
  width: 95%;
  margin-top: 15px;
}
.search-form {
  background: #f4f2f2f7;
  opacity: 1;
  position: relative;
  border: 0 solid rgba(230, 228, 228, 0.62);
  border-radius: 10px;
  height: 28px;
  overflow: hidden;
  margin: auto 0;
  width: 95%;
}
