@media (max-width: 768px) {
	.pc-carousel {
		display: none;
	}

	.pc-header-wrap {
		display: none;
	}

	.search-container {
		display: flex;
	}

	.list-wrap {
		margin: 0 auto 46px auto;
	}

	.pc-reg-stuff,
	.top-btn {
		display: none;
	}
}

@media (min-width: 768px) {
	.header-categ-box {
		display: flex;
		justify-content: flex-start;
		margin-top: 12px;

		gap: 0.6rem;
		padding-bottom: 13px;
		border:none;
	}

	.header-categ {
		background: #f0efef;
		opacity: 1;
		position: relative;
		border-radius: 5px;

		overflow: hidden;
		padding: 3px 8px;
		font-size: 13px;
		cursor: pointer;
		width: 100px;
	}

	.selected,
	.default {
		opacity: 1;
		position: relative;
		border-radius: 5px;
		background-color: #b9d9f8;
		

		overflow: hidden;
		padding: 3px 8px;
		font-size: 13px;
		cursor: pointer;
		width: 100px;
	}

	.navi-bar {
		display: none;
	}

	.header-jc {
		display: none;
	}

	.header-categ-box {
		width: 1050px;
		margin: 24px auto auto auto;
	}

	.li-gr {
		grid-template-columns: 174px 8px 70px;
		grid-template-rows: 240px 40px 40px;
		grid-template-areas:
			"pic pic pic"
			"subj . dday"
			"ct mem mem";
		align-items: center;
	}

	.li-pic {
		grid-area: pic;
		width: 100%;
		height: 100%;
		display: inline-block;
		overflow: hidden;
		/* text-indent: -999px; */
		justify-self: center;
		align-self: center;
	}

	.list-wrap {
		margin: 0 auto;
		width: 1050px;
		display: flex;
		flex-wrap: wrap;
		gap: 14px;
	}

	.pc-header-wrap {
		display: flex;
		flex-direction: column;
		width: 1024px;
		height: 120px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.header-menu {
		display: flex;
		justify-content: flex-end;
		margin-top: 12px;
	}

	.login {
		margin-left: 8px;
	}

	.pc-header {
		display: flex;
		width: 1024px;
		justify-content: space-between;
		align-items: center;
		margin-top: 12px;
	}

	.header-logo {
		width: 151px;
		height: 31px;
	}

	.search-form {
		width: 450px;
		height: 42px;
		padding: 0 8px 0 4px;

	}

	.btnbox {
		display: flex;
		align-items: center;
		width: 140px;
		justify-content: space-between;
	}

	.btn-setting,
	.btn-heart,
	.btn-crawling,
	.btn-mypage {
		width: 30px;
		height: 30px;
		border-radius: 50%;

		line-height: 24px;
		text-align: center;
		transition: 0.2s;
	}

	.btn-setting::before {
		content: '\e8b8';
		font-family: 'Material Icons';
		font-size: 24px;
		color: #222;
		line-height: 30px;
	}

	.btn-heart::before {
		content: '\e87d';
		font-family: 'Material Icons';
		font-size: 24px;
		color: #222;
		line-height: 30px;
	}

	.btn-crawling::before {
		content: '\e8dc';
		font-family: 'Material Icons';
		font-size: 20px;
		color: #222;
		line-height: 30px;
	}

	.btn-mypage::before {
		content: '\e7fd';
		font-family: 'Material Icons';
		font-size: 24px;
		color: #222;
		line-height: 30px;
	}

	.btn-setting:hover,
	.btn-heart:hover,
	.btn-mypage:hover,
	.btn-crawling:hover {
		background-color: #f2f2f2ce;
	}


	.btn-location {
		transform: scale(0.8);
		width: 41px;
		height: 41px;
		background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5035 20.0728C21.3266 20.0728 22.0301 19.7796 22.6137 19.1934C23.1974 18.6072 23.4893 17.9026 23.4893 17.0794C23.4893 16.2562 23.1961 15.5528 22.6099 14.9691C22.0237 14.3854 21.3191 14.0936 20.4959 14.0936C19.6727 14.0936 18.9693 14.3867 18.3856 14.9729C17.8019 15.5591 17.5101 16.2638 17.5101 17.087C17.5101 17.9101 17.8032 18.6136 18.3894 19.1972C18.9756 19.7809 19.6803 20.0728 20.5035 20.0728ZM20.4997 34.2092C24.2865 30.7641 27.0839 27.6392 28.8919 24.8347C30.6998 22.0302 31.6038 19.5603 31.6038 17.4248C31.6038 14.0711 30.532 11.325 28.3882 9.18661C26.2445 7.04821 23.615 5.979 20.4997 5.979C17.3843 5.979 14.7548 7.04821 12.6111 9.18661C10.4674 11.325 9.39551 14.0711 9.39551 17.4248C9.39551 19.5603 10.3209 22.0302 12.1715 24.8347C14.0222 27.6392 16.7983 30.7641 20.4997 34.2092ZM20.4997 37.5832C15.9156 33.6825 12.4919 30.0594 10.2283 26.7139C7.96478 23.3684 6.83301 20.2721 6.83301 17.4248C6.83301 13.154 8.20679 9.75157 10.9544 7.21755C13.7019 4.68352 16.8837 3.4165 20.4997 3.4165C24.1156 3.4165 27.2974 4.68352 30.045 7.21755C32.7926 9.75157 34.1663 13.154 34.1663 17.4248C34.1663 20.2721 33.0346 23.3684 30.771 26.7139C28.5075 30.0594 25.0837 33.6825 20.4997 37.5832Z' fill='%23525252'/%3E%3C/svg%3E%0A");
	}



	.search-form .search-input {
		text-align: left;
		height: 25px;
		flex-grow: 1;
		margin-left: 8px;
	}

	.header-menu .text {
		font-weight: 700;
	}

	.header-menu .info {
		font-size: 12px;
		display: flex;
		width: 300px;
		justify-content: flex-end;
	}

	.header-menu .logout {
		width: 20px;
		height: 20px;
		background-image: url("/images/member/stuff/logout.svg");
		font-size: 10px;
	}

	.pc-header-wrap .filter {
		display: flex;
	}

	.filter .gps-box {
		margin-left: 4px;
		display: flex;
		width: 96px;
	}

	.selectbox-set {
		text-align: center;
		font-size: 14px;
		margin: 0 4px;
		width: 68px;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	div .vertical {
		border-left: 1px solid #d5d5d5;
		border-radius: 10%;
		height: 65%;
	}

	.stuff-list{
		border: none;
	}
}