@charset "UTF-8"; 

/* flex-container */
.header-container{
    display: flex;
    justify-content: center;
}

/* 관리자 네비게이션 바의 검색창 */

.search-container-admin {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    border-radius: 10px;
  
    width: 100%;            /* 여기 수정 */
    margin-right: 144px;
}

.search-container-admin-sr {
    display: flex;
    justify-content: center;
    border-radius: 10px;
  
    width: 37.5%;            /* 여기 수정 */
}

.search-container-admin1 {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  width: 30%;         
  margin-right: 200px;
}

.search-container-admin2 {
  display: flex;
  justify-content: center;
  border-radius: 10px;

  width: 60%;            /* 여기 수정 */
}

/* ========= 목록 : 테이블 버전 ============== */

table {
  width:100%; 
  border-collapse:collapse; 
}

table thead {
  background:#D1D5DB; 
  color:#000;  
}

table thead th {
  text-align:center; 
  padding:1em; 
}

table tbody td {
  padding:1em; 
  text-align:center; 
  border-bottom:1px solid #D1D5DB;
}

table tbody tr.bg td {
  background:#eee;
}

/* ============================= */


/* 카테고리 추가 관련 버튼 추가 */

.btn-admin-category{
  position: absolute;
  top: 70px;
  right: 300px;
}

.tablebox-admin{
  display: flex;
  flex-direction: column;
  border: 2px solid #D1D5DB;
  border-radius: 10px;
  width: 50%;
}


.admin-categ-table{
  width: 100%;
  height: 100%;
  margin:auto;
}

