@media (max-width: 768px) {
  .pc-carousel {
    display: none;
  }

  .pc-header-wrap {
    display: none;
  }

  .search-container {
    display: flex;
  }

  .list-wrap {
    margin: 0 auto 46px auto;
  }

  .pc-reg-stuff,
  .top-btn {
    display: none;
  }
  .li-gr {
    grid-template-columns: 60px 8px minmax(174px, auto) 8px 70px;
    grid-template-rows: 36px 12px 12px;
    grid-template-areas:
      "pic . subj . icon"
      "pic . . . ."
      "pic . ct mem mem";
    align-items: center;
  }
  .icon-write {
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: icon;
    position: relative;
    width: 64px;
    height: 24px;
    box-shadow: 0 25px 40px -20px #3c4a56;
  }
}

@media (min-width: 768px) {
  .navi-bar {
    display: none;
  }

  .header-jc {
    display: none;
  }

  .header-categ-box {
    width: 1050px;
    margin: 12px auto;
  }

  .li-gr {
    grid-template-columns: 174px 8px 70px;
    grid-template-rows: 240px 40px 40px;
    grid-template-areas:
      "pic pic pic"
      "subj . icon"
      "ct mem mem";
    align-items: center;
  }

  .li-pic {
    grid-area: pic;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    /* text-indent: -999px; */
    justify-self: center;
    align-self: center;
  }

  .list-wrap {
    margin: 0 auto;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }

  .pc-header-wrap {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .header-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }

  .login {
    margin-left: 8px;
  }

  .pc-header {
    display: flex;
    width: 1024px;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }

  .header-logo {
    width: 151px;
    height: 31px;
  }

  .search-form {
    width: 450px;
    height: 48px;
    padding: 0 8px 0 4px;
  }

  .btnbox {
    display: flex;
    align-items: center;
  }

  .btn-setting {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3587 35.75L14.567 30.6312C14.0656 30.4417 13.5378 30.1844 12.9837 29.8594C12.4295 29.5344 11.9413 29.1958 11.5191 28.8437L6.84824 31.0375L3.16699 24.375L7.44199 21.1656C7.38921 20.9219 7.35623 20.6443 7.34303 20.3328C7.32984 20.0214 7.32324 19.7437 7.32324 19.5C7.32324 19.2562 7.32984 18.9786 7.34303 18.6672C7.35623 18.3557 7.38921 18.0781 7.44199 17.8344L3.16699 14.625L6.84824 7.9625L11.5191 10.1562C11.9413 9.80417 12.4295 9.46562 12.9837 9.14062C13.5378 8.81562 14.0656 8.57187 14.567 8.40937L15.3587 3.25H22.642L23.4337 8.36875C23.935 8.55833 24.4694 8.80885 25.0368 9.12031C25.6041 9.43177 26.0857 9.77708 26.4816 10.1562L31.1524 7.9625L34.8337 14.625L30.5587 17.7531C30.6114 18.024 30.6444 18.3151 30.6576 18.6266C30.6708 18.938 30.6774 19.2292 30.6774 19.5C30.6774 19.7708 30.6708 20.0552 30.6576 20.3531C30.6444 20.651 30.6114 20.9354 30.5587 21.2062L34.8337 24.375L31.1524 31.0375L26.4816 28.8437C26.0594 29.1958 25.5778 29.5411 25.0368 29.8797C24.4958 30.2182 23.9614 30.4687 23.4337 30.6312L22.642 35.75H15.3587ZM19.0003 24.7812C20.4253 24.7812 21.6392 24.2667 22.642 23.2375C23.6448 22.2083 24.1462 20.9625 24.1462 19.5C24.1462 18.0375 23.6448 16.7917 22.642 15.7625C21.6392 14.7333 20.4253 14.2187 19.0003 14.2187C17.5753 14.2187 16.3614 14.7333 15.3587 15.7625C14.3559 16.7917 13.8545 18.0375 13.8545 19.5C13.8545 20.9625 14.3559 22.2083 15.3587 23.2375C16.3614 24.2667 17.5753 24.7812 19.0003 24.7812ZM19.0003 22.3437C18.235 22.3437 17.5819 22.0661 17.041 21.5109C16.5 20.9557 16.2295 20.2854 16.2295 19.5C16.2295 18.7146 16.5 18.0443 17.041 17.4891C17.5819 16.9339 18.235 16.6562 19.0003 16.6562C19.7656 16.6562 20.4187 16.9339 20.9597 17.4891C21.5007 18.0443 21.7712 18.7146 21.7712 19.5C21.7712 20.2854 21.5007 20.9557 20.9597 21.5109C20.4187 22.0661 19.7656 22.3437 19.0003 22.3437ZM17.2587 33.3125H20.742L21.2962 28.7625C22.167 28.5458 22.9916 28.2073 23.7701 27.7469C24.5486 27.2865 25.2545 26.7312 25.8878 26.0812L30.0837 27.95L31.667 25.025L27.9462 22.2219C28.0517 21.7615 28.1375 21.3078 28.2035 20.8609C28.2694 20.4141 28.3024 19.9604 28.3024 19.5C28.3024 19.0396 28.276 18.5859 28.2232 18.1391C28.1705 17.6922 28.0781 17.2385 27.9462 16.7781L31.667 13.975L30.0837 11.05L25.8878 12.9187C25.2809 12.2146 24.5948 11.6255 23.8295 11.1516C23.0642 10.6776 22.2198 10.3729 21.2962 10.2375L20.742 5.6875H17.2587L16.7045 10.2375C15.8073 10.4271 14.9694 10.7521 14.191 11.2125C13.4125 11.6729 12.7198 12.2417 12.1128 12.9187L7.91699 11.05L6.33366 13.975L10.0545 16.7781C9.94894 17.2385 9.86317 17.6922 9.7972 18.1391C9.73123 18.5859 9.69824 19.0396 9.6w9824 19.5C9.69824 19.9604 9.73123 20.4141 9.7972 20.8609C9.86317 21.3078 9.94894 21.7615 10.0545 22.2219L6.33366 25.025L7.91699 27.95L12.1128 26.0812C12.7462 26.7312 13.4521 27.2865 14.2305 27.7469C15.009 28.2073 15.8337 28.5458 16.7045 28.7625L17.2587 33.3125Z' fill='%23525252'/%3E%3C/svg%3E%0A");
    width: 38px;
    height: 39px;

    transform: scale(0.8);
  }

  .btn-heart {
    transform: scale(0.8);
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2 0.5C20.416 0.5 17.744 1.91253 16 4.14469C14.256 1.91253 11.584 0.5 8.8 0.5C3.872 0.5 0 4.72016 0 10.0913C0 16.6831 5.44 22.0542 13.68 30.2155L16 32.5L18.32 30.1981C26.56 22.0542 32 16.6831 32 10.0913C32 4.72016 28.128 0.5 23.2 0.5ZM16.16 27.6172L16 27.7916L15.84 27.6172C8.224 20.1011 3.2 15.1311 3.2 10.0913C3.2 6.60354 5.6 3.98774 8.8 3.98774C11.264 3.98774 13.664 5.71417 14.512 8.10327H17.504C18.336 5.71417 20.736 3.98774 23.2 3.98774C26.4 3.98774 28.8 6.60354 28.8 10.0913C28.8 15.1311 23.776 20.1011 16.16 27.6172Z' fill='%23525252'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  .btn-crawling {
    transform: scale(0.8);
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDIwMDEwOTA0Ly9FTiIKICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4wIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiB3aWR0aD0iMzAuMDAwMDAwcHQiIGhlaWdodD0iMzAuMDAwMDAwcHQiIHZpZXdCb3g9IjAgMCAzMC4wMDAwMDAgMzAuMDAwMDAwIgogcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCI+Cgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwzMC4wMDAwMDApIHNjYWxlKDAuMTAwMDAwLC0wLjEwMDAwMCkiCmZpbGw9IiMwMDAwMDAiIHN0cm9rZT0ibm9uZSI+CjxwYXRoIGQ9Ik0yMiAxMzggbDMgLTEyMyAxMjUgMCAxMjUgMCAzIDEyMyAzIDEyMiAtMTMxIDAgLTEzMSAwIDMgLTEyMnogbTIzOAoxMDIgYzAgLTYgLTQzIC0xMCAtMTEwIC0xMCAtNjcgMCAtMTEwIDQgLTExMCAxMCAwIDYgNDMgMTAgMTEwIDEwIDY3IDAgMTEwCi00IDExMCAtMTB6IG0tMjAyIC00NSBjLTQgLTMzIC0yMiAtMzMgLTI2IDAgLTIgMTggMSAyNSAxMyAyNSAxMiAwIDE1IC03IDEzCi0yNXogbTQyIC02IGMwIC0zOCAtMjQgLTM1IC0yOCA0IC0yIDE5IDEgMjcgMTIgMjcgMTEgMCAxNiAtMTAgMTYgLTMxeiBtNDAgMApjMCAtMzggLTI0IC0zNSAtMjggNCAtMiAxOSAxIDI3IDEyIDI3IDExIDAgMTYgLTEwIDE2IC0zMXogbTQ4IDQgYy00IC0zOSAtMjgKLTQyIC0yOCAtNCAwIDIxIDUgMzEgMTYgMzEgMTEgMCAxNCAtOCAxMiAtMjd6IG00MCAwIGMtNCAtMzkgLTI4IC00MiAtMjggLTQKMCAyMSA1IDMxIDE2IDMxIDExIDAgMTQgLTggMTIgLTI3eiBtNDAgMiBjLTQgLTMzIC0yMiAtMzMgLTI2IDAgLTIgMTggMSAyNQoxMyAyNSAxMiAwIDE1IC03IDEzIC0yNXogbS0xNSAtNDQgYzQgLTEgNiAtMzEgNSAtNjggbC0yIC02OCAtMyA1OCAtNCA1NyAtMzQKMCAtMzUgMCAwIC01NSAwIC01NSAtNzAgMCAtNzAgMCAwIDY0IGMwIDM1IDQgNjYgMTAgNjggOCAyIDE3OCAyIDIwMyAtMXoKbS0yMyAtODIgYzAgLTQzIC0zIC01MCAtMTcgLTQ3IC0xNCAyIC0xOSAxNSAtMjEgNTEgLTMgNDIgLTEgNDcgMTcgNDcgMTggMAoyMSAtNiAyMSAtNTF6Ii8+CjxwYXRoIGQ9Ik01MiA4OCBsMyAtNDMgNTMgLTMgNTIgLTMgMCA0NSAwIDQ2IC01NiAwIC01NSAwIDMgLTQyeiBtOTggLTMgYzAKLTM0IC0xIC0zNSAtNDAgLTM1IC0zOSAwIC00MCAxIC00MCAzNSAwIDM0IDEgMzUgNDAgMzUgMzkgMCA0MCAtMSA0MCAtMzV6Ii8+CjwvZz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
  }

  .btn-location {
    transform: scale(0.8);
    width: 41px;
    height: 41px;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5035 20.0728C21.3266 20.0728 22.0301 19.7796 22.6137 19.1934C23.1974 18.6072 23.4893 17.9026 23.4893 17.0794C23.4893 16.2562 23.1961 15.5528 22.6099 14.9691C22.0237 14.3854 21.3191 14.0936 20.4959 14.0936C19.6727 14.0936 18.9693 14.3867 18.3856 14.9729C17.8019 15.5591 17.5101 16.2638 17.5101 17.087C17.5101 17.9101 17.8032 18.6136 18.3894 19.1972C18.9756 19.7809 19.6803 20.0728 20.5035 20.0728ZM20.4997 34.2092C24.2865 30.7641 27.0839 27.6392 28.8919 24.8347C30.6998 22.0302 31.6038 19.5603 31.6038 17.4248C31.6038 14.0711 30.532 11.325 28.3882 9.18661C26.2445 7.04821 23.615 5.979 20.4997 5.979C17.3843 5.979 14.7548 7.04821 12.6111 9.18661C10.4674 11.325 9.39551 14.0711 9.39551 17.4248C9.39551 19.5603 10.3209 22.0302 12.1715 24.8347C14.0222 27.6392 16.7983 30.7641 20.4997 34.2092ZM20.4997 37.5832C15.9156 33.6825 12.4919 30.0594 10.2283 26.7139C7.96478 23.3684 6.83301 20.2721 6.83301 17.4248C6.83301 13.154 8.20679 9.75157 10.9544 7.21755C13.7019 4.68352 16.8837 3.4165 20.4997 3.4165C24.1156 3.4165 27.2974 4.68352 30.045 7.21755C32.7926 9.75157 34.1663 13.154 34.1663 17.4248C34.1663 20.2721 33.0346 23.3684 30.771 26.7139C28.5075 30.0594 25.0837 33.6825 20.4997 37.5832Z' fill='%23525252'/%3E%3C/svg%3E%0A");
  }

  .btn-mypage {
    transform: scale(0.8);
    transform: translateX(-1px);
    width: 41px;
    height: 41px;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 19.9876C18.8486 19.9876 17.4392 19.3965 16.2719 18.2144C15.1045 17.0334 14.5208 15.6314 14.5208 14.0085C14.5208 12.3571 15.1045 10.9477 16.2719 9.78034C17.4392 8.61298 18.8486 8.0293 20.5 8.0293C22.1514 8.0293 23.5608 8.61298 24.7281 9.78034C25.8955 10.9477 26.4792 12.3571 26.4792 14.0085C26.4792 15.6314 25.8955 17.0334 24.7281 18.2144C23.5608 19.3965 22.1514 19.9876 20.5 19.9876ZM7.6875 32.971V29.1699C7.6875 28.3442 7.91528 27.5755 8.37083 26.8637C8.82639 26.1519 9.43854 25.5967 10.2073 25.198C11.8872 24.3724 13.5887 23.7528 15.3118 23.3394C17.0338 22.9271 18.7632 22.721 20.5 22.721C22.2368 22.721 23.9668 22.9271 25.6899 23.3394C27.4119 23.7528 29.1128 24.3724 30.7927 25.198C31.5615 25.5967 32.1736 26.1519 32.6292 26.8637C33.0847 27.5755 33.3125 28.3442 33.3125 29.1699V32.971H7.6875ZM10.25 30.4085H30.75V29.1699C30.75 28.8283 30.6503 28.5151 30.451 28.2303C30.2517 27.9456 29.9813 27.7036 29.6396 27.5043C28.159 26.7925 26.6574 26.2441 25.1347 25.8592C23.6109 25.4754 22.066 25.2835 20.5 25.2835C18.934 25.2835 17.3891 25.4754 15.8653 25.8592C14.3426 26.2441 12.841 26.7925 11.3604 27.5043C11.0188 27.7036 10.7483 27.9456 10.549 28.2303C10.3497 28.5151 10.25 28.8283 10.25 29.1699V30.4085ZM20.5 17.4251C21.4396 17.4251 22.2442 17.0903 22.9139 16.4206C23.5824 15.7521 23.9167 14.948 23.9167 14.0085C23.9167 13.0689 23.5824 12.2643 22.9139 11.5946C22.2442 10.9261 21.4396 10.5918 20.5 10.5918C19.5604 10.5918 18.7564 10.9261 18.0878 11.5946C17.4182 12.2643 17.0833 13.0689 17.0833 14.0085C17.0833 14.948 17.4182 15.7521 18.0878 16.4206C18.7564 17.0903 19.5604 17.4251 20.5 17.4251Z' fill='%23656565'/%3E%3C/svg%3E%0A");
  }

  .search-form .search-input {
    text-align: left;
    height: 25px;
    flex-grow: 1;
    margin-left: 8px;
  }

  .header-menu .text {
    font-weight: 700;
  }

  .header-menu .info {
    font-size: 12px;
    display: flex;
    width: 300px;
    justify-content: flex-end;
  }

  .header-menu .logout {
    width: 20px;
    height: 20px;
    background-image: url("/images/member/stuff/logout.svg");
    font-size: 10px;
  }

  .pc-header-wrap .filter {
    display: flex;
  }

  .filter .gps-box {
    margin-left: 4px;
    display: flex;
    width: 96px;
  }

  .selectbox-set {
    text-align: center;
    font-size: 14px;
    margin: 0 4px;
    width: 68px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  div .vertical {
    border-left: 1px solid #d5d5d5;
    border-radius: 10%;
    height: 65%;
  }
}
